<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>AngularJS Material - Starter App</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css" />
  <link rel="stylesheet" href="./assets/app.css" />
</head>

<body ng-cloak layout="column" ng-controller="AppController as app">

  <!-- Container #1 (see wireframe) -->
  <md-toolbar layout="row" class="md-toolbar-tools">
    <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()" aria-label="Show User List">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>AngularJS Material - Starter App</h1>
  </md-toolbar>

  <!-- Container #2 -->
  <div>

    <md-button class="md-raised md-primary">Button</md-button>
    <br>
    <md-input-container class="md-block" flex-gt-sm>
      <label>Nome</label>
      <input ng-model="user.firstName" style="width: 30%;">
    </md-input-container>
    <br>
    <md-content layout="column" layout-gt-sm="row" layout-padding ng-cloak>
      <div layout="column" flex-order="1" flex-order-gt-sm="0">
        <md-subheader>Start Date</md-subheader>
        <md-calendar ng-model="ctrl.startDate"></md-calendar>
      </div>
      <div layout="column" flex-order="1" flex-order-gt-sm="1">
        <md-subheader>End Date</md-subheader>
        <md-calendar ng-model="ctrl.endDate"></md-calendar>
      </div>
      <div layout="column" flex-order="0" flex-order-gt-sm="2">
        <md-subheader>Dates</md-subheader>
        <div>
          <label>Start</label>
          <div>{{ctrl.startDate | date:shortDate}}</div>
        </div>
        <div><label>End</label>
          <div>{{ctrl.endDate | date:shortDate}}</div>
        </div>
      </div>
    </md-content>
    <md-input-container>
      <label>State</label>
      <users-list users="app.users" mvc="app.mvc" selected="app.selected" on-selected="app.selectUser(user)">
      </users-list>
      <md-input-container>
        <div ng-controller="AppController" class="md-padding" ng-cloak>
          <div>
            <fieldset class="standard">
              <div layout-wrap layout-gt-sm="row">
                <div flex-gt-sm="50">
                  <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                    Checkbox 1
                  </md-checkbox>
                  <md-checkbox ng-model="data.cb2" aria-label="Checkbox 2">
                    Checkbox 2
                  </md-checkbox>
                  <md-checkbox ng-model="data.cb3" aria-label="Checkbox 3">
                    Checkbox 3
                  </md-checkbox>
                  <md-checkbox ng-model="data.cb4" aria-label="Checkbox 4">
                    Checkbox 4
                  </md-checkbox>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </md-input-container>

  </div>
  <div class="md-block">
    <md-input-container>
      <label>Valore 1</label>
      <input ng-model="app.val1" type="number">
    </md-input-container>

    <md-input-container>
      <label>Valore 2</label>
      <input ng-model="app.val2" type="number">
    </md-input-container>

    <span>{{app.val1 - app.val2}}</span>
  </div>

  <script src="./jspm_packages/system.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>
  <script type="text/javascript">
    System
      .import('src/boot/boot')
      .catch(console.error.bind(console)); // make sure any errors print to console
  </script>

</body>

</html>